html, body, #root{
  height: 100%;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}
label{
  color: #f50057 !important;
}
.errorMessage{ 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  background: #ffc7c7;
  border: 1px solid #f00;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #f00;
  text-align: center; 
}
.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  align-items: center;
  justify-content: center;
  display: flex;
}